root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# indent style must be defined in each layer.
# indent_style = space
# indent_size = 2

[*.md]
trim_trailing_whitespace = false
