name: ci.yml
"on": push

jobs:
  # This job is used to fail the workflow if any of the previous jobs fail.
  # https://zenn.dev/shunsuke_suzuki/articles/how-to-manage-github-actions-required-status-check
  ci-status-check:
    runs-on: ubuntu-slim
    if: failure()
    timeout-minutes: 10
    permissions: { }
    needs:
      - build
    steps:
      - run: exit 1

  build:
    uses: ./.github/workflows/_build.yml
    secrets: inherit
